name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  schedule:
    # Run daily at 5am UTC
    - cron: '0 5 * * *'

permissions:
  contents: read

jobs:
  validate-examples:
    name: Validate Examples
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2

      - name: Validate Examples
        run: make validate-examples

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_wrapper: false

      - run: go mod download

      - name: Run Tests
        env:
          TF_ACC: "1"
          DOIT_API_TOKEN: ${{ secrets.DOIT_API_TOKEN }}
          DOIT_HOST: ${{ vars.DOIT_HOST }}
          TEST_USER: ${{ vars.TEST_USER }}
          TEST_ATTRIBUTION: ${{ vars.TEST_ATTRIBUTION }}
          TEST_ATTRIBUTION_GROUP: ${{ vars.TEST_ATTRIBUTION_GROUP }}
          TEST_SLACK_CHAN: ${{ vars.TEST_SLACK_CHAN }}
          TEST_PROJECT: ${{ vars.TEST_PROJECT }}
          TEST_CUSTOMER_ID: ${{ vars.TEST_CUSTOMER_ID }}
          TEST_INVOICE_ID: ${{ vars.TEST_INVOICE_ID }}
          TEST_ANOMALY_ID: ${{ vars.TEST_ANOMALY_ID }}
          TEST_CLOUD_INCIDENT_ID: ${{ vars.TEST_CLOUD_INCIDENT_ID }}
          TEST_COMMITMENT_ID: ${{ vars.TEST_COMMITMENT_ID }}
        run: go test -v -timeout 120m ./...
