name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  schedule:
    # Run daily at 5am UTC
    - cron: '0 5 * * *'

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Run Tests
        env:
          TF_ACC: "1"
          DOIT_API_TOKEN: ${{ secrets.DOIT_API_TOKEN }}
          DOIT_HOST: ${{ vars.DOIT_HOST }}
          TEST_USER: ${{ vars.TEST_USER }}
          TEST_ATTRIBUTION: ${{ vars.TEST_ATTRIBUTION }}
          TEST_SLACK_CHAN: ${{ vars.TEST_SLACK_CHAN }}
          TEST_PROJECT: ${{ vars.TEST_PROJECT }}
          TEST_CUSTOMER_ID: ${{ vars.TEST_CUSTOMER_ID }}
        run: go test -v -timeout 120m ./...
